@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px
}

body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);

}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
nav ul{
    list-style: none;
}

/*utility*/
.small-bold-text{
    font-size: 1rem;
    font-weight: 500;
}
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex{
    display: flex;
    align-items: center;

}

.hover-links{
    color: var(--primary-text-color);
}

.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.secondary-button:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
}


/*top banner*/
.top-banner{
    background-color: #4fb3d4;
    background-image: url(assets/asset\ 32.png);
    background-size: 300px;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/*nav*/
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}
/*header*/

header{
    padding: 50px var(--padding-inline-section);
}
.header-section{
    justify-content: center;
    gap:50px;
}
.header-right img{
    width: 600px;

}
.header-left{
    max-width: 40vw;
    
}
.header-left h1{
    margin-top: 20px;
    letter-spacing: 0.5px;

}
.header-left p{
    margin-top: 10px;
    letter-spacing: 0.2px;

}
.get-started-button{
    margin-top: 30px;
}
/*companies section*/
.companies-header{
    text-align: center;
    margin-block: 20px;
    color: var(--primary-text-color);
}
.logos{
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo{
    height: 46px;
}

/*features section*/

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.features-header{
    text-align: center;
}
.features-heading-text{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap:40px;
    margin-top: 40px;
    
}
.features-card{
    flex-direction: column;
    gap:20px;
    max-width: 30%;
   text-align: center;
   
}


/*big features section*/

.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap:30px;
    
}
.feature-img img{
    width: 100%;

}
.feature-description{
    flex-direction: column;
    align-items: flex-start;
}
.feature-logo img{
    width: 100px;
    margin: 30px 0px;
}
.feature-description-review{
    font-weight: 600;
    color: var(--primary-text-color);
    background-size: 64px;
    background-image: url(assets/asset\ 35.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: -15px;
    margin-left: -30px;
    padding-top: 15px;
    padding-left: 30px;
}

.review-profile{
    margin: 20px 0;

}
.review-img img{
    width: 50px;
}
.review-name{
    margin-left: 10px;
    
}
.review-name small{
    color: var(--secondary-text-color);
}

/* example section*/
.example-section{
    margin-top: 40px;
}
.example-header{
    text-align: center;
}
.example-heading-text{
    margin-bottom: 20px;
}
.example-area{
    justify-content: space-between;
    margin-block: 30px;
}
.example-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
    transition: 0.2s ease-out; 
    
}
.class-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.example-card:hover{
    box-shadow: 0 0 10px #888;
    
}
/*subscription section*/
.subscription-section{
    padding: 50px var(--padding-inline-section);
    background-color: #183b54;
    margin-block:70px;

}
.subscription-container{
    color: white;
    gap: 30px;
    
}
.subscription-content-top{
    margin: 30px 0;

}
.subscription-content-top p{
    color: #b9cde4;
}
.subscription-content-bottom{
    margin-bottom: 30px;

}
.subscription-content-bottom h4,a{
    padding: 15px 0;

}
.subscription-content-bottom ul{
    display:inline-flexbox;
}
.subscription-list{
    margin-left: 15px;
}
.subscription-list-one,.subscription-list-two{
    width: 50%;
    color: #b9cde4;

}

.subscription-button{
    margin-top: 40px;
}
.subscription-sublist {
    margin-bottom: 10px;
  }
.subscription-img img{
    width: 120%;
    padding-right: 80px;
    
}



/*cta section*/
.cta-section-container{
    flex-direction: column;
    gap:30px;
    
}
.cta-section{
    padding: 60px var(--padding-inline-section) 100px;
    background-color: white;
}


/*footer*/
footer{
    background-color:  #ebf2fa;
    padding-block: 80px;
}

.link-column{
    flex-direction: column;
    align-items: flex-start;
}
.link-column a{
    margin-bottom: -20px;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}
/*sub footer*/
.subfooter{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.subfooter-container{
    justify-content: center;
    gap: 30px;
}